<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jrektor.skripsi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Skripsi"
        tools:node="merge"
        tools:targetApi="31">
        <activity
            android:name=".outlet.shop.DetailOutletActivity"
            android:exported="false" />
        <activity
            android:name=".product.items.checkout.CashPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".product.items.checkout.PayOptionActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="midtrans"
                    android:scheme="demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".outlet.employee.EditPegawaiActivity"
            android:exported="false" />
        <activity
            android:name=".outlet.shop.EditOutletActivity"
            android:exported="false" />
        <activity
            android:name=".report.RugiLabaActivity"
            android:exported="false" />
        <activity
            android:name=".report.PenjualanActivity"
            android:exported="false" />
        <activity
            android:name=".product.categories.ProdukByCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".product.items.FormAddProdukActivity"
            android:exported="false" />
        <activity
            android:name=".product.items.FormAddProductTest"
            android:exported="false" />
        <activity
            android:name=".product.items.FormEditProdukActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".outlet.employee.AddPegawaiActivity"
            android:exported="false" />
        <activity
            android:name=".outlet.shop.AddOutletActivity"
            android:exported="false" />
        <activity
            android:name=".product.items.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".product.items.DetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".verification.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".verification.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".product.cart.CartActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jrektor.skripsi.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>